.app-bar-home {
  height: 3.4em;
  background: #870000;
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  a {
    h2 {
      color: rgba(255, 255, 255, 0.8);
      line-height: 2.3em;
    }
  }

  img {
    width: 2.5em;
    float: right;
    margin-top: 7.4px;
    border-radius: 100%;
  }
}
