.bottom-nav {
  height: 3.4em;
  background: #870000;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.bottom-navigation-button {
  text-align: center;
  height: 100%;
  padding: 4px 6px 0;
  display: inline-block;
  cursor: pointer;
}
