.footer {
  background: #dfdfdf;
  padding: 10px;
  text-align: center;
}
.footer a {
  cursor: pointer;
  padding: 0 10px;
}

.footer a img {
  width: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.footer span {
  font-weight: 100;
  color: #870000;
  padding: 5px 0 10px;
}
